.popup {
    display: block;
}

.no-popup {
    display: none;
}

.blocker-add {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

#delete-business-popup {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#stars-container {
    position: relative;
}

/* #clip {
    position: absolute;
    clip: rect(20px, 200px, 30px, );
    clip-path: stroke-box(30px 20px 2px 55px);
    clip: shape(top, right, bottom, left); NB 'rect' is the only available option
} */

#comment-user-name {
    font-weight: bold;
}
