.popup {
    display: block;
}

.no-popup {
    display: none;
}

.blocker-add {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

#delete-business-popup {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

/* #clip {
    position: absolute;
    clip: rect(20px, 200px, 30px, );
    clip-path: stroke-box(30px 20px 2px 55px);
    clip: shape(top, right, bottom, left); NB 'rect' is the only available option
} */

#comment-user-name {
    font-weight: bold;
}

#business-page-image {
    background-size: cover;
    /* width: 568px;
    height: 426px; */
    width: 864px;
    height: 500px;
    color: white;
    font-weight: 600;
}

#boze {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    padding: 5px;
}

#reviews-container {
    border-top: 1px solid black;
    width: 700px;
    height: 500px;
    display: flex;
}

#text {
    width: 500px;
}

#business-page {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-page-margin {
    margin: 20px;
}

#single-review {
    padding-bottom: 20px;
    width: 500px;
    color: rgb(45, 46, 47);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#edit-review {
    border: none;
    padding: 5px;
    cursor: pointer;
    align-self: end;
}

/* #id gospode {
    display: flex;
} */

#business-page-image {
    /* margin-bottom: 20px; */
}

#reviews-counter {
    margin-left: 10px;
    align-self: center;
}

#business-page-stars-container {
    display: flex;
}

#remove-review {
    border: none;
    padding: 5px;
    cursor: pointer;
    align-self: end;
    margin-left: 10px;
}

#reviews-header {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}

#review-user {
    font-weight: 600;
}
