#navbar {
    position: relative;
    /* padding: 20px; */
    height: 50px;
    background-color: rgb(211, 35, 35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#navbar-left {
    margin-left: 40px;
}

#navbar-center {
    position: relative;
    display: flex;
}

.links {
    /* color: red; */
    /* margin: 50px; */
    /* padding: 5%; */
    /* text-decoration: none; */
    /* color:grey; */
    white-space: nowrap;
}

.margin-right {
    margin: 0px 40px;
    padding: 9px 12px 8px;
    border-bottom: 2px solid transparent;
}

.margin-right:hover {
    border-bottom: 2px solid white;
}

#business-navlink {
    color: white;
}

#github-icon {
    color: white;
  }

  #github-icon:hover {
    color: none
  }
  #linkedin-icon {
    /* margin-left: 100px; */
    color: white;
    /* padding: 9px 12px 8px; */
  }

  #linkedin-icon:hover {
    cursor: pointer;
  }

  #navbar-left {
      display: flex;
      justify-self: center;
      align-self: center;
  }

  #yelp-icon {
      justify-self: center;
      align-self: center;
      margin-right: 5px;
  }

  #business-review {
      font-size: 1.5em;
  }

  #navbar-right-login-signup {
      display: flex;
  }

  #signup-button-navbar {
      border: 2px solid white;
      border-radius: 4px;
  }

  #signup-button-navbar:hover {
      background-color: white;
      color: #666;
  }
