#rating-container {
    position: relative;
    height: 5vh;
    /* display: flex; */
}

.div-around-radio-button {
    height: 36px;
    width: 36px;
}

#div-radio-container {
    display: flex;
    width: 204px;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rating-radio-buttons {
    display: none;
}

#miki {
    position: absolute;
    top: 0px;
    left: 0px;
}

#rating-text {
   position: absolute;
   top: 8px;
   left: 220px;
}
