/* TODO Add site wide styles */

/* TODO Add site wide styles */
* {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p,
ul,
ol {
    line-height: 21px;
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}

.no-underscore {
    /* list-style-type: none; */
    text-decoration: none;
}

.signup-login-inputs {
    border: 1px solid rgb(153, 153, 153);
    padding: 5px 9px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
    font-size: 14px;
    line-height: 18.06px;
    box-sizing: border-box;
    width: 300px;
}

.errors {
    color: #cc4539;
}

.red {
    background-color: rgb(211, 35, 35);
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.buttons {
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    width: 300px;
    /* height: 36px; */
    position: relative;
    flex: 1;
    height: 36px;
    justify-content: left;
    padding: 10px 13px;
    cursor: pointer;
}

#error-page {
    height: 79vh;
    display: flex;
    margin: 0 auto;
}

.signup-login-inputs-textarea {
    border: 1px solid #e6e6e6;
    padding: 12px 16px;
    border-radius: 7px;
    color: #333333;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
    font-size: 16px;
    line-height: 1.1875;
    box-sizing: border-box;
    width: 100%;
}
