.signup-login-buttons {
    margin: 12px 0px;
}

#signup-link {
    color: #0073bb
}

#signup-link:hover {
    text-decoration: underline;
}

#login-text {
    color: rgb(211, 35, 35);
    margin-bottom: 25px;
}
