#navbar {
    padding: 20px;
    height: 100px;
    background-color: rgb(211, 35, 35);
    display: flex;
    width: 100vw;
    /* width: 100%; */
    /* align-items: center; */
}

#navbar-center {
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    /* background-color: purple; */

}

#navbar-right {
    width: 20%;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.links {
    color: red;
    /* margin: 50px; */
    /* padding: 5%; */
    text-decoration: none;
    color:grey;
    white-space: nowrap;
}

.margin-right {
    margin: 0px 40px;
}

.links:visited { color: white; }
.links:hover { color: none; }

#business-navlink {
    color: white
}
