#navbar {
    padding: 20px;
    height: 100px;
    background-color: rgb(211, 35, 35);
    display: flex;
    align-items: center;
}
#navbar-two {
    padding: 20px;
    height: 110px;
    background-color: rgb(211, 35, 35);
}
#navbar-conditional {
    display: flex;
    align-items: center;
}
.links {
    color: red;
    /* margin: 50px; */
    /* padding: 5%; */
    text-decoration: none;
    color:grey
}

.margin-right {
    margin: 0px 75px;
    /* margin-right: 150px; */
}

.links:visited { color: white; }
.links:hover { color: none; }

#business-navlink {
    color: white
}
